* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
*:before, *:after {box-sizing: border-box;}



header{
    height: 7vh;
    display: flex;
    justify-content: space-between;
    padding:1rem;
    color:white;
    background-color: #131313;
   
}

.header-links a{
    margin: 1rem;
    padding:0.5rem;
}

.btn{
    width: 10vw;
    text-decoration: none;
    color: white;
    transition: all 0.4s;
    border-radius: 20px;
    border: 1px solid grey;
}

.btn:hover{
    border: 2px solid white;
    color:white;
    border-radius: 20px;
    background:rgba(103,58,183,1) ;
}


.carusel-poster{
    width: 100%;
    overflow: hidden;
    height: 60vh;
    cursor: pointer;
    margin: 1rem;
}
.home-body{
    background: #131313;
    color:white;
    padding: 15px;
}

.rec.rec-arrow {
    background: transparent;
    color: white;
}
.rec.rec-dot {
    background: transparent;
    border: 1px solid white;
}

@media only screen and (max-width: 600px) {
    header{
        height: 12vh;
        display: flex;
        justify-content: space-between;
        padding:1rem;
        color:white;
        background-color: #131313;
       
    }
    .header-links a{
        display: flex;
        margin: 0;
        padding:0;
        
    }
    .btn{
        width: 20vw;
        text-decoration: none;
        color: white;
        transition: all 0.4s;
        border:1px solid transparent;
        
    }
   
  }