.body-loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #2B2B2B;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  display: flex;
  justify-content: center;
}
.loader__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
  }

  .loader__film {
    position: absolute;
    top: -30px;
    left: 0;
    display: flex;
  }

  .loader__film-img {
    animation: rotate 1.5s linear infinite;
  }
