.popular-container{
    overflow: hidden;
    display:grid;
    grid-template-columns: repeat(5, 20vw);
    width: 99vw;
    background: #131313;
}
.popular-wraper{
    background: #131313;
}
.poster{
 width: 19vw;
 overflow: hidden;
 height: 60vh;
 cursor: pointer;
 
}

.movie-poster{
   
    position: relative;
    overflow: hidden;
}

.movie-info{
    color: teal;
    position: absolute;
    bottom: 0;
    left: 0 ;
    right: 0;
    
    padding: 1rem;
    transform: translateY(100%);
    transition: all 0.7s ease-in-out;
    max-height: 59vh;
   max-width: 19vw;
    text-decoration: none;
}

.movie-poster:hover .movie-info{
    transform: translateY(0%);
    background: rgba(103,58,183,1);
    color: white;
    
}

.movie-info h4{
    background: rgba(103,58,183,1);;
    color: white;
}
.movie-info p{
    background: rgba(103,58,183,1);;
    color: white;
}
.movie-info i{
    background: rgba(103,58,183,1);;
    color: yellow;
}
.nav-container{
    text-align: center;
    background: #131313;

}

.nav-btn{
    background: transparent;
    color:white;
    border:1px solid grey;
    border-radius: 100%;
    padding: 0.5rem;
    margin: 0.5rem;
    transition: all 0.4s;
}
.nav-btn:hover{
    background: rgba(103,58,183,1);
    color:white;
}
.nav-btn:active{
    transform: scale(1.2);
}